[Unit]
Description=unibot

[Service]
Type=simple
WorkingDirectory=/srv/unibot
ExecStart=/srv/unibot/unibot
Restart=always
RestartSec=5

[Unit]
After=default.target

[Install]
WantedBy=default.target
